// /**
//  * Copyright © Magento, Inc. All rights reserved.
//  * See COPYING.txt for license details.
//  */

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    //  Using buttons mixins
    button.action.primary,
    a.action.primary {
        .lib-css(border-radius, @button__border-radius);
        .lib-css(text-transform, uppercase);
        .lib-button(
            @_button-padding: 0 15px,
            @_button-line-height: 32px,
            @_button-background: @color-white,
            @_button-color: @color-2d2d2f,
            @_button-background-hover: @color-2d2d2f,
            @_button-color-hover: @color-white,
            @_button-font-size: 13px,
            @_button-font-family: @font-family-name__roboto-bold,
            @_button-border: 2px solid @color-2d2d2f,
            @_button-border-hover: 2px solid @color-2d2d2f
        );
    }
    
    button.action.primary.tocart.indetail {
        .lib-button(
            @_button-border-hover: none,
            @_button-border: none,
            @_button-padding: 0 15px,
            @_button-line-height: 40px,
            @_button-color: @color-white,
            @_button-background: @color-green-default,
            @_button-background-hover: @color-green-hover,
            @_button-color-hover: @color-white,
            @_button-font-family: @font-family-name__roboto-bold,
            @_button-width: 100%,
            @_button-font-size: 13px
        );
    }


    body {
        &:not(._keyfocus) {
            button {
                &:focus {
                    box-shadow: none;
                }
            }
        }
    }

    a.action.primary {
        .lib-link-as-button();
    }

    .action.primary {
        .lib-button-primary();
    }

    .actions-primary {
        .action.primary {
            .lib-button(
                @_button-padding: 0 18px,
                @_button-line-height: 32px,
                @_button-background: @color-white,
                @_button-color: @color-2d2d2f,
                @_button-background-hover: @color-2d2d2f,
                @_button-color-hover: @color-white,
                @_button-font-size: 13px,
                @_button-font-family: @font-family-name__roboto-bold,
                @_button-border: 2px solid @color-2d2d2f,
                @_button-border-hover: 2px solid @color-2d2d2f
            );
        }
    }
    .standard-button {
        .lib-button();
    }
}
